/Cliente-ejercicio1/build/
/Cliente-ejercicio1/nbproject/private/
/Cliente-ejercicio2/build/
/Cliente-ejercicio2/nbproject/private/
/Cliente-ejercicio3/build/
/Cliente-ejercicio3/nbproject/private/
/Cliente-ejercicio4/build/
/Cliente-ejercicio4/dist/
/Cliente-ejercicio4/nbproject/private/
/Servidor-ejercicio1/build/
/Servidor-ejercicio1/nbproject/private/
/Servidor-ejercicio2/build/
/Servidor-ejercicio2/nbproject/private/
/Servidor-ejercicio3/build/
/Servidor-ejercicio3/nbproject/private/
/Servidor-ejercicio4/build/
/Servidor-ejercicio4/dist/
/Servidor-ejercicio4/nbproject/private/